.booking-form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  width: 120px;
  margin-right: 10px;
}

.form-row input,
.form-row select {
  flex-grow: 1;
}

.form-row input[type="date"] {
  width: 100%;
  padding: 5px;
}

.primary-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.primary-button:hover {
  background-color: #0056b3;
}

a {
  margin-left: 10px;
  color: #007bff;
  text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */
