/* Container styling */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
  }
  
  /* User details section styling */
  .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    width: 80%;
  }
  
  /* Input box styling */
  .input-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .input-box input[type="text"],
  .input-box input[type="email"],
  .input-box input[type="date"],
  .input-box input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  
  /* Gender details section styling */
  .gender-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    width: 80%;
  }
  
  .gender-details .gender-title {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    width: 100%;
  }
  
  .category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .category label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #ddd;
    display: inline-block;
    border: 2px solid #ddd;
    transition: all 0.3s ease;
  }
  
  .category label .gender {
    font-weight: 300;
    font-size: 16px;
  }
  
  .category label:hover .dot {
    border-color: #1abc9c;
  }
  
  .category input[type="radio"]:checked + .dot {
    background-color: #1abc9c;
    border-color: #1abc9c;
  }
  
  /* Button and cancel link styling */
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80%;
  }
  
  .submit {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #1abc9c;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .submit:hover {
    background-color: #148f77;
  }
  .error-message {
    color: red;
    font-size: 12px;
  }